@import url("https: //fonts.googleapis.com/css2?family=Playfair+Display&family=Montserrat");



/*--------------------------------------------Header*/

header {
    margin: 0;
}

.logo {
    background: url("../images/sian.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;

}

#name {
    font-family: "Playfair+Display", sans-serif;
    font-weight: 100;
    font-size: 90px;
    margin-top: 50px;
    color: #fff;
    float: right;

}

/*--------------------------------------------Nav Bar*/

body {
    font-family: "Montserrat", sans-serif;
    background-color: black;
}

.nav justify-content-end {
    font-size: 400%;
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    color: silver;
    text-decoration: none;
    cursor: pointer;
}