@import url("https: //fonts.googleapis.com/css2?family=Playfair+Display&family=Montserrat");

/*--------------------------------------------Colours*/

body {
    background: linear-gradient(to right, #000000, #302F2F)
}


/*--------------------------------------------Header*/

header {
    margin: 0;
}

.logo {
    background: url("../images/sian.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 25%;
    max-height: 10%;
}

.name {
    font-family: "Playfair+Display", sans-serif;
    font-weight: 100;
    font-size: 100px;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 0;
    text-align: right;
    color: #fafafa;


}

/*--------------------------------------------Nav Bar*/

.list-inline {
    padding: 30px;
    margin-top: 20px;
    margin-left: 90px;
    margin-right: 10px;
    text-align: center;

}

a {
    font-size: 25px;
    text-align: center;
    padding: 0;
    color: white;
    text-transform: uppercase;
}

a:hover {
    color: #e84610;
    text-decoration: none;
    cursor: pointer;
}

/*--------------------------------------------Carousel*/

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}