@import url("https: //fonts.googleapis.com/css2?family=Playfair+Display&family=Montserrat");

/*--------------------------------------------Colours*/

body {
    background: linear-gradient(to right, #000000, #302F2F)
}


/*--------------------------------------------Header*/

header {
    margin: 0;
}

.logo {
    background: url("../images/sian.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 275;
    height: 250px;
}

.name {
    font-family: "Playfair+Display", sans-serif;
    font-weight: 100;
    font-size: 100px;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    color: #fafafa;


}

/*--------------------------------------------Nav Bar*/

.list-inline {
    padding: 30px;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;

}

.list-inline a {
    font-size: 25px;
    text-align: center;
    padding: 0;
    color: white;
    text-transform: uppercase;
}

.list-inline a:hover {
    color: #e84610;
    text-decoration: none;
    cursor: pointer;
}

/* ----------------------------------------Footer */

footer {
    background-color: #e84610;
    color: #fafafa;
    max-height: 90px;
    margin: 0;
    margin-bottom: 0;
    position: fixed;
    bottom: 0;
}

footer h5 {
    text-transform: uppercase;
}
    
footer a {
    text-transform: lowercase;
    color: #fafafa;
    font-size: 16px;
}

footer a:hover {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

footer a i:hover {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
        
    width: 32px;
    height: 32px;
    margin-bottom: 500px;
    font-size: 30px;
    text-align: center;
    position: relative;
    bottom: 40px;
    
}

/* ----------------------------------------Media Queries */

@media screen and (max-width: 480px) {
    .logo {
        display: none;
    }
}